.catalog-navbar{
    padding: 50px 0 65px 0;
}
.on-filter{
    width: 62px;
    position: relative;
    flex: 1;
}
.catalog-select-box{
    flex: 2;
}
.on-filter-text{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.menu-filter{
    margin-top: -20px;
    display: none;
    position: absolute;
    z-index: 2;
    width: 360px;
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.the-filter{
    text-transform: uppercase;
    padding: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
}
.filter-sum{
    display: block;
    width: 327px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    list-style-type: none;
    padding: 11px;
    margin: 17px;
    border-left: 4px solid $main-color;
    border-bottom: 1px solid #EBEBEB;
}

.filter-sum:hover{
    color: $main-color;

} 

.category-sub[open]{
    color: $main-color;
}
.on-filter:hover .menu-filter{
    display: initial;
}
.choose-trending{
    width: 120px;
}
.choose-size{
    width: 50px;
}
.choose-price{
    width: 55px;
}
.catalog{
    display: grid;
    grid-template: repeat(3, auto)/repeat(3, 1fr);
    grid-gap: 10px;
}

.page-selector{
    display: flex;
    justify-content: center;
}
.catalog-page-selector{
    width: 283px;
    height: 43px;
    margin: 48px 0 96px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    justify-content: center;
}
.prev, .next{
    padding: 0 17px 0 17px;
    color: #000000;
}
.pages{
    justify-content: space-between;
    flex: 1;
}
.page, .interval{
    color: #C4C4C4;
}
.prev:hover, .next:hover, .page:hover{
    color: $main-color;
}
