* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}
// body{
//     height: 100vh;
// }

a {
    display: block;
}

$main-color: #F16D7F;

.flex {
    display: flex;
    justify-content: space-between;
}
.allcontent{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-box{
    flex: 1;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1140px;
}
.header {
    background: #222222;
}


.header-menu {
    height: 75px;
    align-items: center;
}

.search-menu {
    margin-left: 40px;
}

.menu-menu,
.basket-menu,
.profile-menu,
.search-menu {
    width: 32px;
    height: 32px;
    color: #E8E8E8;
    font-size: 30px;
    text-align: center;
    line-height: 32px;
}

.menu-menu {
    position: relative;
}

.menu-menu:hover,
.basket-menu:hover,
.profile-menu:hover,
.search-menu:hover {
    color: $main-color;
}

.menu-menu,
.profile-menu {
    margin-right: 33px;
}

.header-list {
    list-style-type: none;
}

.main-menu {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    z-index: 2;
    top: 75px;
    display: none;
}

.menu-menu:hover .main-menu {
    display: initial;
    color: $main-color;
}

.close-menu {
    float: right;
    margin: 15px 15px 0 0;
}

.menu-head {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 32px 0 24px 25px;
    width: 150px;
}

.menu-subhead {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    margin: 0 0 12px 27px;
}

.list-menu-item {
    list-style-type: none;
}

.menu-item {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 0 0 11px 35px;
}

.menu-item:hover {
    color: $main-color;
}

#main-menu:target {
    display: initial;
}

.main {
    background: #F1E4E6;
    min-height: 360px;
}


.main-picture {
    margin-left: -100px;
    
}
.main-pic{
    width: 100%;
}
.block-logo{
    width: 70%;
}

.main-logo {
    margin-top: 45%;
    border-left: 12px solid $main-color;
    padding-left: 16px;

}


.logo-header {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 57px;
    color: #222222;
}

.logo-text {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #222222;
}

.logo-text-last {
    color: $main-color;
}

.place-box{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, auto);
    grid-gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.item-place1 {
    background-image: url(img/forwomen-back.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 28%;
    box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}

.item-place2 {
    background-image: url(img/formen-back.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 28%;
    box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}

.item-place3 {
    background-image: url(img/forkids-back.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 28%;
    box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}
.item-place4-box{
    grid-column: 1/4;
}

.item-place4 {
    background-image: url(img/accesories-back.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 6%;
    box-shadow: 0px 180px rgba(33, 22, 22, 0.7) inset;
}


.item-place1:hover,
.item-place2:hover,
.item-place3:hover,
.item-place4:hover{
    transform: scale(102%);
}

.text-place {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30%;
}

.text-header-place {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: $main-color;
    padding-top: 8px;
}

.place4 {
    padding-top: 5%;
}

.store-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.card-items {
    display: grid;
    grid-template: repeat(2, auto)/repeat(3,1fr);
    grid-gap: 10px;
}

.card {
    width: 100%;
    background: #F8F8F8;
    position: relative;
}

.card-pic{
    width: 100%;
}

.card:hover .card-pic {
    filter: brightness(30%);
}


.add-basket {
    display: flex;
    align-items: center;
    pointer-events: all;
    padding: 13px;
    border: 1px solid #FFFFFF;
}

.add-basket:hover {
    border: 1px solid $main-color;
    box-shadow: 0 0 10px 0 $main-color;
}

.add-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 11px;
}

.add-box {
    display: none;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    top: 30%;
    width: 100%;
}

.card:hover .add-box {
    display: flex;
}

.card-text {
    text-align: left;
    padding-left: 18px;
}

.description-head {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 25px 0 12px 0;
}

.description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
    margin-top: 12px;
    padding-bottom: 20px;
}

.store-box-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.store-box-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 46px;
}

.store-box-button {
    width: 211px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background-color: $main-color;
    margin: 48px 0 95px 0;
    border: 1px solid transparent;
}

.store-box-button:hover {
    background-color: #FFFFFF;
    color: $main-color;
    border: 1px solid $main-color;
}
.footer-first{
    background: #222224;
}

.footer-h3 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer-texts {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer-menu {
    align-items: center;
    flex-direction: column;
    margin: 103px 10px 104px 10px;
    width: 100%;
    height: 134px;
}
.footer-second {
    background-image: url(img/footer-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}
.footer-second-box{
    align-items: center;
    justify-content: space-around;
}

.footer-subscribe-person {
    width: 343px;
    height: 194px;
    padding: 97px 0 350px 0;
    align-items: center;
    flex-direction: column;
}

.subscribe-person-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footer-form {
    width: 356px;
}

.footer-subscribe {
    flex-direction: column;
    align-items: center;
}

.text-subscribe {
    text-transform: uppercase;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

#email {
    margin-top: 32px;
    background: #E1E1E1;
    width: 256px;
    height: 50px;
    line-height: 50px;
    border: 0px;
    border-radius: 30px 0 0 30px;
    outline: none;
    padding-left: 30px;
    padding-right: 20px;
}


.button-subscribe {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0 30px 30px 0px;
    margin-left: -4px;
    background: $main-color;
    color: #E1E1E1;
}

.button-subscribe:hover {
    background: #E1E1E1;
    border: 1px solid $main-color;
    color: $main-color;
}
.footer-third {
    background: #222224;
}
.footer-social {
    height: 79px;
    align-items: center;
}

.text-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-social-item {
    width: 32px;
    height: 32px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    margin-left: 7px;
}


.footer-social-item:hover {
    background-color: $main-color;
    color: #FFFFFF;
}
@import 'product';
@import 'catalog';
@import 'cart';
@import 'registration';
@media (max-width: 768px) {
    @import 'mob768';
}
@media (max-width: 525px){
    @import 'mob365';
}
