* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

body {
  height: 100%;
}

a {
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.allcontent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-box {
  flex: 1;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  background: #222222;
}

.header-menu {
  height: 75px;
  align-items: center;
}

.search-menu {
  margin-left: 40px;
}

.menu-menu,
.basket-menu,
.profile-menu,
.search-menu {
  width: 32px;
  height: 32px;
  color: #E8E8E8;
  font-size: 30px;
  text-align: center;
  line-height: 32px;
}

.menu-menu {
  position: relative;
}

.menu-menu:hover,
.basket-menu:hover,
.profile-menu:hover,
.search-menu:hover {
  color: #F16D7F;
}

.menu-menu,
.profile-menu {
  margin-right: 33px;
}

.header-list {
  list-style-type: none;
}

.main-menu {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  z-index: 2;
  top: 75px;
  display: none;
}

.menu-menu:hover .main-menu {
  display: initial;
  color: #F16D7F;
}

.close-menu {
  float: right;
  margin: 15px 15px 0 0;
}

.menu-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 32px 0 24px 32px;
  width: 160px;
}

.menu-subhead {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 0 0 12px 32px;
}

.list-menu-item {
  list-style-type: none;
}

.menu-item {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 0 0 11px 45px;
}

.menu-item:hover {
  color: #F16D7F;
}

#main-menu:target {
  display: initial;
}

.main {
  background: #F1E4E6;
  min-height: 360px;
}

.main-picture {
  margin-left: -100px;
}

.main-pic {
  width: 100%;
}

.block-logo {
  width: 70%;
}

.main-logo {
  margin-top: 45%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.logo-header {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  color: #222222;
}

.logo-text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #222222;
}

.logo-text-last {
  color: #F16D7F;
}

.place-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.item-place1 {
  background-image: url(img/forwomen-back.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 28%;
  box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}

.item-place2 {
  background-image: url(img/formen-back.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 28%;
  box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}

.item-place3 {
  background-image: url(img/forkids-back.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 28%;
  box-shadow: 0px 335px rgba(33, 22, 22, 0.7) inset;
}

.item-place4-box {
  grid-column: 1/4;
}

.item-place4 {
  background-image: url(img/accesories-back.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 6%;
  box-shadow: 0px 180px rgba(33, 22, 22, 0.7) inset;
}

.item-place1:hover,
.item-place2:hover,
.item-place3:hover,
.item-place4:hover {
  transform: scale(102%);
}

.text-place {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 30%;
}

.text-header-place {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  text-align: center;
  color: #F16D7F;
  padding-top: 8px;
}

.place4 {
  padding-top: 5%;
}

.store-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}

.card-items {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 1fr);
  grid-gap: 10px;
}

.card {
  width: 100%;
  background: #F8F8F8;
  position: relative;
}

.card-pic {
  width: 100%;
}

.card:hover .card-pic {
  filter: brightness(30%);
}

.add-basket {
  display: flex;
  align-items: center;
  pointer-events: all;
  padding: 13px;
  border: 1px solid #FFFFFF;
}

.add-basket:hover {
  border: 1px solid #F16D7F;
  box-shadow: 0 0 10px 0 #F16D7F;
}

.add-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.add-box {
  display: none;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  top: 30%;
  width: 100%;
}

.card:hover .add-box {
  display: flex;
}

.card-text {
  text-align: left;
  padding-left: 18px;
}

.description-head {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 12px 0;
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 12px;
  padding-bottom: 20px;
}

.store-box-header {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.store-box-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 46px;
}

.store-box-button {
  width: 211px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #F16D7F;
  margin: 48px 0 95px 0;
  border: 1px solid transparent;
}

.store-box-button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.footer-first {
  background: #222224;
}

.footer-h3 {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer-texts {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer-menu {
  align-items: center;
  flex-direction: column;
  margin: 103px 10px 104px 10px;
  width: 100%;
  height: 134px;
}

.footer-second {
  background-image: url(img/footer-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.footer-second-box {
  align-items: center;
  justify-content: space-around;
}

.footer-subscribe-person {
  width: 343px;
  height: 194px;
  padding: 97px 0 350px 0;
  align-items: center;
  flex-direction: column;
}

.subscribe-person-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.footer-form {
  width: 356px;
}

.footer-subscribe {
  flex-direction: column;
  align-items: center;
}

.text-subscribe {
  text-transform: uppercase;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

#email {
  margin-top: 32px;
  background: #E1E1E1;
  width: 256px;
  height: 50px;
  line-height: 50px;
  border: 0px;
  border-radius: 30px 0 0 30px;
  outline: none;
  padding-left: 30px;
  padding-right: 20px;
}

.button-subscribe {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 0 30px 30px 0px;
  margin-left: -4px;
  background: #F16D7F;
  color: #E1E1E1;
}

.button-subscribe:hover {
  background: #E1E1E1;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.footer-third {
  background: #222224;
}

.footer-social {
  height: 79px;
  align-items: center;
}

.text-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-social-item {
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 32px;
  margin-left: 7px;
}

.footer-social-item:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.main-product {
  background: #F8F3F4;
  height: 148px;
}

.product-main {
  padding-top: 5%;
}

.main-header-product {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.link1:hover,
.link2:hover,
.link3:hover {
  color: #F16D7F;
}

.slash {
  margin: 0 5px 0 5px;
}

.product-slider {
  align-items: center;
  background: #F7F7F7;
  position: relative;
  z-index: 0;
}

.arrow {
  width: 47px;
  height: 47px;
  font-size: 25px;
  text-align: center;
  line-height: 47px;
  color: #000000;
  background: rgba(42, 42, 42, 0.15);
}

.arrow:hover {
  color: #F16D7F;
}

.product-slider-pic {
  width: 100%;
}

.product-desc-box {
  min-height: 600px;
  display: flex;
  padding: 65px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  background: #fff;
}

.product-chapter {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.line1 {
  width: 63px;
  height: 3px;
  margin: 12px;
  background: #EF5B70;
}

.product-heading-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product-desc {
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 48px 0 32px 0;
  text-align: center;
  color: #5E5E5E;
}

.product-cost {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.line2 {
  border: 1px solid #EAEAEA;
  width: 640px;
  margin: 65px;
}

.choose {
  background: #fff;
  width: 130px;
  height: 30px;
  border: none;
  color: #6F6E6E;
  margin-left: 20px;
  outline: none;
}

.choose:hover {
  color: #F16D7F;
}

.product-choose-color {
  width: 125px;
}

.product-choose-size {
  width: 110px;
}

.product-choose-quantity {
  width: 90px;
}

.product-desc-button {
  align-items: center;
  margin-top: 48px;
  padding: 14px 56px 8px 23px;
  background: #F16D7F;
  border: 1px solid transparent;
}

.product-desc-button:hover {
  background: #FFFFFF;
  -webkit-text-decoration-color: #F16D7F;
          text-decoration-color: #F16D7F;
  border: 1px solid #F16D7F;
}

.product-desc-button:hover .add-text {
  color: #F16D7F;
}

.product-card-box {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  gap: 10px;
}

.product-card {
  margin: 128px 0 128px 0;
}

.catalog-navbar {
  padding: 50px 0 65px 0;
}

.on-filter {
  width: 62px;
  position: relative;
  flex: 1;
}

.catalog-select-box {
  flex: 2;
}

.on-filter-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu-filter {
  margin-top: -20px;
  display: none;
  position: absolute;
  z-index: 2;
  width: 360px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.the-filter {
  text-transform: uppercase;
  padding: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.filter-sum {
  display: block;
  width: 327px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  list-style-type: none;
  padding: 11px;
  margin: 17px;
  border-left: 4px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}

.filter-sum:hover {
  color: #F16D7F;
}

.category-sub[open] {
  color: #F16D7F;
}

.on-filter:hover .menu-filter {
  display: initial;
}

.choose-trending {
  width: 120px;
}

.choose-size {
  width: 50px;
}

.choose-price {
  width: 55px;
}

.catalog {
  display: grid;
  grid-template: repeat(3, auto)/repeat(3, 1fr);
  grid-gap: 10px;
}

.page-selector {
  display: flex;
  justify-content: center;
}

.catalog-page-selector {
  width: 283px;
  height: 43px;
  margin: 48px 0 96px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  justify-content: center;
}

.prev, .next {
  padding: 0 17px 0 17px;
  color: #000000;
}

.pages {
  justify-content: space-between;
  flex: 1;
}

.page, .interval {
  color: #C4C4C4;
}

.prev:hover, .next:hover, .page:hover {
  color: #F16D7F;
}

.cart-main {
  background: #F8F3F4;
  height: 148px;
}

.cart-content {
  margin: 8% auto;
}

.cart-left-box {
  width: 50%;
  flex-direction: column;
}

.cart-item {
  margin-bottom: 40px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.cart-item:hover {
  transform: scale(102%);
}

.head-main-cart {
  padding: 60px 0 60px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart-item-img {
  width: 40%;
}

.cart-item-desc {
  width: 47%;
  margin-bottom: 4%;
}

.cart-item-change {
  display: flex;
}

.cart-item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart-item-head {
  margin: 5% 0 10% 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart-item1-cost {
  color: #F16D7F;
  margin-left: 2%;
}

.cart-item1-color,
.cart-item1-size,
.cart-item1-quantity {
  margin-left: 5%;
}

.cart-item1-quantity {
  width: 40px;
  text-align: center;
  border: 1px solid #EAEAEA;
}

.cart-input-quantity {
  width: 20%;
  text-align: center;
}

.cart-button-box {
  margin-bottom: 20px;
}

.cart-button {
  padding: 0 4px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid transparent;
  height: 50px;
  line-height: 50px;
}

.cart-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.cart-right-box {
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}

.cart-form-adress {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.cart-forem-head {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-form-input {
  height: 40px;
  margin-bottom: 20px;
  color: #B1B1B1;
  outline: none;
  padding: 0 20px 0 20px;
}

.cart-form-button-adress {
  width: 100px;
  height: 35px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid transparent;
}

.cart-form-button-adress:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.cart-cost-box {
  margin-top: 60px;
  width: 80%;
  height: 214px;
  background: #F5F3F3;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cart-sub-cost-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 70%;
  text-align: end;
  margin-top: 7%;
}

.cart-sub-price {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 20%;
  text-align: center;
  margin-top: 7%;
}

.cart-grand-cost-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  width: 70%;
  text-align: end;
}

.cart-grand-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  width: 20%;
  text-align: center;
}

.cart-cost-box-line {
  height: 1px;
  width: 70%;
  background-color: #E2E2E2;
}

.cart-price-button {
  padding: 16px 50px;
  margin: 0 0 5%;
  color: #FFFFFF;
  text-align: center;
  background-color: #F16D7F;
  border: 1px solid transparent;
}

.cart-price-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.registr-left-side {
  width: 40%;
  margin: 7% 0 14% 0;
}

.registr-form-head {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registr-input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  margin: 20px 0;
  outline: none;
}

.registr-form-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.register-form-radio-text {
  display: inline;
  margin-right: 50px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registr-form-radio {
  margin: 0 10px 20px 0;
}

.registr-form-button-text {
  padding-right: 30px;
}

.registr-form-button {
  padding: 16px 35px;
  margin-top: 40px;
  width: 200px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid transparent;
}

.registr-form-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.registr-right-side {
  width: 50%;
  margin: 7% 0 14% 0;
}

.registr-article-head {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 20px;
}

.registr-article-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.check-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .logo-header {
    font-size: 44px;
    line-height: 52px;
  }
  .logo-text {
    font-size: 24px;
    line-height: 28px;
  }
  .card-items {
    grid-template: repeat(3, auto)/repeat(2, 1fr);
  }
  .footer-first-box {
    flex-direction: column;
    align-items: center;
  }
  .footer-menu {
    margin: 80px 10px 70px 10px;
    width: 100%;
  }
  .footer-second-box {
    flex-direction: column;
  }
  .footer-subscribe {
    margin-bottom: 10%;
  }
  .catalog {
    grid-template: repeat(4, auto)/repeat(2, 1fr);
  }
  .product-card-box {
    grid-template: auto/repeat(2, 1fr);
  }
  .last-card {
    display: none;
  }
  .cart-content {
    flex-direction: column;
  }
  .cart-left-box {
    width: 100%;
  }
  .cart-right-box {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .cart-cost-box {
    margin-top: 35px;
    margin-left: 10px;
  }
  .cart-price-button {
    padding: 16px 18px;
  }
  .registr-article-head {
    font-size: 16px;
    line-height: 19px;
  }
  .registr-article-text {
    font-size: 16px;
    line-height: 19px;
  }
  .register-left-side {
    width: 50%;
  }
}
@media (max-width: 525px) {
  .main-picture {
    display: none;
  }
  .block-logo {
    width: 100%;
  }
  .main-logo {
    margin-top: 30%;
  }
  .place-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .item-place4-box {
    grid-column: unset;
  }
  .card-items {
    grid-template: repeat(6, 1fr)/100%;
  }
  .product-main {
    flex-direction: column;
    align-items: center;
  }
  .breadcrumbs {
    margin-top: 30px;
  }
  .catalog-filter-text {
    display: none;
  }
  .on-filter-text {
    font-size: 24px;
  }
  .choose {
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }
  .on-filter {
    flex: none;
  }
  .catalog {
    grid-template: repeat(8, auto)/100%;
  }
  .product-card-box {
    grid-template: repeat(2, auto)/100%;
  }
  .cart-right-box {
    flex-direction: column;
  }
  .cart-form-adress {
    width: 100%;
  }
  .cart-cost-box {
    margin-top: 35px;
    margin-left: 0;
    width: 100%;
  }
  .cart-button {
    font-size: 12px;
  }
  .cart-item-text {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-item-head {
    font-size: 16px;
    line-height: 19px;
  }
  .registr-content {
    flex-direction: column;
  }
  .registr-left-side {
    width: 100%;
  }
  .registr-right-side {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */